body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.big-text{
    font-size: 3.5em;
}

.logo-connexion{
    position: absolute;
    width: 300px;
    right: 0;
    top: auto;
}